<link rel="stylesheet" href="{% asset_path '{{ include.path }}' %}">
<link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css">
<script>

    WebFontConfig = {
        custom: {
            families: ['Ionicons'],
            testStrings: {
                Ionicons : '\uf10c\uf109'
            }
        },
        fontloading: function(familyName, fvd) {
            console.log( "loading " + familyName );
        },
        fontactive: function(familyName, fvd) {
            console.log( familyName + " loaded" );
        },
        fontinactive: function(familyName, fvd) {
            console.log( familyName + " failed to load" );
        }
    };

    WebFont.load(WebFontConfig);

</script>
